.reaction-container {
  width: 800px;
  margin: 100px auto;
}
.flex-css {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.reaction-lists ul {
  padding: 0 8px;
  margin: auto;
  min-width: 288px;
  border-radius: 25px;
  justify-content: flex-start;
  box-shadow: 0 2px 4px 2px rgb(0 0 0 / 8%);
}
.reaction-lists li {
  cursor: pointer;
  width: 48px;
  height: 48px;
  position: relative;
  list-style: none;
}
.reaction-lists li:hover .reaction-tooltip {
  display: block;
}
.reaction-lists li i {
  width: 16px;
  height: 16px;
  padding: 18px 16px 14px;
  font-style: normal;
}
.reaction-lists li:hover i {
  font-size: 32px;
  top: -20px;
  left: -8px;
  padding: 18px 16px 14px;
  position: relative;
  transition: 0.3s all ease;
}
.reaction-tooltip {
  position: absolute;
  top: -50px;
  left: -5px;
  background-color: #161616;
  font-size: 12px;
  font-weight: 500;
  color: #ffffff;
  padding: 12px 16px;
  display: none;
}
.reaction-tooltip::before {
  content: " ";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #161616 transparent transparent transparent;
}
.reaction-summary {
  width: 55%;
  min-height: 300px;
  box-shadow: 0 2px 4px 2px rgb(0 0 0 / 8%);
}
.add-reaction-section {
  width: 42%;
}
.trigger-button-wrap {
  margin: 10px auto;
  position: relative;
  justify-content: flex-start;
}
.trigger-button,
.selected-emoji-lists li {
  width: 32px;
  height: 32px;
  padding: 0;
  outline: none;
  margin-left: 40px;
  cursor: pointer;
  background: none;
  border-radius: 16px;
  border: 1px solid #e0e0e0;
  justify-content: space-around;
}
.trigger-button img {
  width: 70%;
}
.summary-wrap h3 {
  font-size: 14px;
  font-weight: 500;
  padding: 20px 12px 10px 20px;
  margin: 0;
}
.reaction-lists {
  position: absolute;
  top: -55px;
  left: -10px;
}
.selected-emoji-lists li {
  padding-top: 5px;
  box-sizing: border-box;
  border: 1px solid #0f62fe;
  background: #edf5ff;
  font-size: 16px;
  width: auto;
  list-style: none;
  padding: 13px 10px 10px;
}
